body {
  display: flex;
  justify-content: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  padding: 0;
}

.drop-down-menu {
  margin-top: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.drop-down-menu p, 
.drop-down-menu ul li {
  width: 200px;
  padding: 10px;
}
.drop-down-menu p {
  background-color: lime;
  text-align: center;
  color: #fff;
}
.drop-down-menu ul {
  background-color: rgba(220, 220, 220, 0.2);
  display: none;
}

/* hover effect */
.drop-down-menu:hover ul {
  display: block;
}
.drop-down-menu ul li:hover {
  background-color: rgba(220, 220, 220, 0.7);
}